/**
 * Basic typography style for copy text
 */
body {
  color: rgb(90, 90, 90);
  font-size: 125%;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Noto Sans JP', sans-serif;
}

